---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/f65a04930f6ac54c/conditions/forecast/q/33066.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.144'
      Last-Modified:
      - Wed, 04 Mar 2015 12:23:28 GMT
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  ,\n  \"forecast\": 1\n  }\n\t}\n
        \ ,\t\"current_observation\": {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Coconut Creek, FL\",\n\t\t\"city\":\"Coconut Creek\",\n\t\t\"state\":\"FL\",\n\t\t\"state_name\":\"Florida\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"33066\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"26.25394440\",\n\t\t\"longitude\":\"-80.17868805\",\n\t\t\"elevation\":\"11.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Margate, Margate, Florida\",\n\t\t\"city\":\"Margate, Margate\",\n\t\t\"state\":\"Florida\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"26.272406\",\n\t\t\"longitude\":\"-80.195793\",\n\t\t\"elevation\":\"0
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KFLMARGA6\",\n\t\t\"observation_time\":\"Last
        Updated on March 4, 7:09 AM EST\",\n\t\t\"observation_time_rfc822\":\"Wed,
        04 Mar 2015 07:09:18 -0500\",\n\t\t\"observation_epoch\":\"1425470958\",\n\t\t\"local_time_rfc822\":\"Wed,
        04 Mar 2015 07:23:28 -0500\",\n\t\t\"local_epoch\":\"1425471808\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"74.0 F (23.3 C)\",\n\t\t\"temp_f\":74.0,\n\t\t\"temp_c\":23.3,\n\t\t\"relative_humidity\":\"83%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"North\",\n\t\t\"wind_degrees\":-9999,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1020\",\n\t\t\"pressure_in\":\"30.14\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"69
        F (21 C)\",\n\t\t\"dewpoint_f\":69,\n\t\t\"dewpoint_c\":21,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"74.0
        F (23.3 C)\",\n\t\t\"feelslike_f\":\"74.0\",\n\t\t\"feelslike_c\":\"23.3\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"19\",\n\t\t\"UV\":\"0.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/FL/Coconut_Creek.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KFLMARGA6\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=26.272406,-80.195793\",\n\t\t\"nowcast\":\"\"\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"6:05 AM EST\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"title\":\"Wednesday\",\n\t\t\"fcttext\":\"A
        mix of clouds and sun. High 81F. Winds SE at 10 to 20 mph.\",\n\t\t\"fcttext_metric\":\"Sun
        and clouds mixed. High 27C. Winds SE at 15 to 30 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_clear.gif\",\n\t\t\"title\":\"Wednesday
        Night\",\n\t\t\"fcttext\":\"Mostly clear. Low 72F. Winds SE at 10 to 15 mph.\",\n\t\t\"fcttext_metric\":\"Mostly
        clear. Low 22C. Winds SE at 15 to 25 km/h.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"title\"[...]
